body {
  background-color: rgb(86, 58, 121);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#bar {
    text-align: center;
    background-color: #ff0000;
    color: white;
    padding: 5px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    clear:both
}

#main-nav {
    background-color: rgb(244, 206, 91);
    text-align: center;
    padding: 10px 20px;
}

#main-nav li {
    display: inline-block;
    position: relative;
}

.nav-button {
  background-color: #d91b5c; 
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 5px;
  display: inline-block;
}

.nav-button:hover {
  background-color: white;
  color: black;
}

#map {
  height: 500px;
  width: 500px;
  margin-left: 500px;
  margin-bottom: 500px;
  margin-top: 150px;
}