body {
  background-color: yellow;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#bar {
    text-align: left;
    background-color: #7c7c7c;
    color: white;
    padding: 5px;
    font-family: cursive;
    clear:both
}

#main-nav {
    background-color: crimson;
    text-align: center;
    padding: 10px 20px;
}

#main-nav li {
    display: inline-block;
    position: relative;
}

.nav-button {
  background-color: #d91b5c; 
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin: 5px;
  display: inline-block;
}

.nav-button:hover {
  background-color: white;
  color: black;
}